body {background-color: rgb(76, 103, 136); color:white; text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
table{
    margin-left: auto;
    margin-right: auto;
}
.cell {width:40px; height:40px;text-align: center}
.cell img {width:25px; height:auto}
.floor {background-color: gray}
.wall {background-color: brown}
button.restart-game{
    display: none;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: rgb(56, 96, 82);
    background-color: rgb(220, 209, 209);
    border:none;
    margin:0 auto;
}
button.restart-game:hover{
    background-color: rgb(56, 96, 82);
    color: rgb(220, 209, 209);
    cursor: pointer;
}



